#nav_site_mov_manage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6em;
}

.nav_items_mov_manage {
    align-items: center;
    background-color: #FFF000;
    color: #141414;
    font-size: 1.2em;
    margin: 2em;
    padding: 1em;
    border-radius: 4px;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6); 
}
