#navegation_site {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #212121;
    margin-bottom: 2em;
}

#title_nav {
    align-self: center;
    width: 15em;
    margin-right: 24em;
}

.navegation_items {
    align-items: center;
    background-color: #FFF000;
    color: #141414;
    font-size: 1.2em;
    margin-right: 4em;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 1em;
    border-radius: 4px;
    transition: transform 0.1s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6); 
}

.navegation_items:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

#navegation_bar {
    display: flex;
}

#navegation_bar_search_bar {
    display: flex;
    justify-content: end;
    align-self: end;
}

@media (max-width: 768px) {    
    #navegation_site {
        flex-direction: column;
        flex-wrap: wrap;
        justify-self: center;
        align-items: center;
        justify-content: center;
    }
    #navegation_bar {
        flex-direction: column;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        margin: 1em;
    }
    #title_nav {
        margin: 1em;
    }
    .navegation_items {
        margin-right: 0%;
    }
}